@media (max-width: 810px) {
  .header-content {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .main {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .main-plus h3 {
    position: absolute;
  }
  .main-plus h3:nth-child(1) {
    position: absolute;
    top: 195px;
    left: 16px;
  }
  .main-plus h3:nth-child(2) {
    position: absolute;
    top: 74px;
    left: 128px;
  }
  .main-plus h3:nth-child(3) {
    position: absolute;
    top: 113px;
    left: 338px;
  }
  .what {
    flex-direction: column;
    align-items: center;
  }
  .how {
    flex-direction: column;
  }
  .how-content {
    flex-direction: column;
    text-align: start;
  }
}
