* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background: #010208;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 40px;
  @media (max-width: 500px) {
    padding-inline: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Orbitron, sans-serif;
  color: #ffffff;
}
p {
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(0.875rem, 0.761rem + 0.57vw, 1.188rem);
}
a {
  width: 100%;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
}
button {
  border: none;
  color: #fff;
}
#header {
  padding-block: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.header h1 {
  width: 100%;
  max-width: 150px;
  font-size: clamp(1.375rem, 1.239rem + 0.68vw, 1.75rem);
  font-weight: 600;
}
.header-content {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}
.burger-menu {
  display: none;
}
.burger-menu ion-icon {
  font-size: 30px;
  color: #fff;
}
#main {
  padding-block: 40px;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.nav h1 {
  width: 100%;
  max-width: 430px;
  font-size: clamp(2rem, 1.818rem + 0.91vw, 2.5rem);
  font-weight: 700;
}
.nav h1 span {
  width: 100%;
  max-width: 430px;
  font-size: clamp(2rem, 1.818rem + 0.91vw, 2.5rem);
  font-weight: 700;
  background: linear-gradient(97.16deg, #f86cf8 12.04%, #64cef5 81.84%);
}
.nav p {
  width: 100%;
  max-width: 430px;
}
.main-btn {
  display: flex;
  gap: 15px;
}
.nav button:nth-child(1) {
  width: 100%;
  max-width: 150px;
  padding: 10px;
  border-radius: 6px;
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
  font-size: 17px;
  font-weight: 500;
}
.gradient-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  text-align: center;
  text-transform: none;
  border-radius: 8px;
  position: relative;
  background-color: black;
  cursor: pointer;
  transition: 0.3s;
  span {
    position: relative;
    z-index: 1;
  }
  /* // Градиентная рамка */
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    padding: 2px;
    /* // Толщина градиента */
    background: linear-gradient(90deg, #ff0080, #0078ff);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  /* // Hover эффект */
  &:hover {
    background: linear-gradient(90deg, #ff0080, #0078ff);
    color: black;
    &:before {
      background: linear-gradient(90deg, black, black);
    }
    border-radius: 5px;

    /* 3 */
    background: linear-gradient(
      158.4deg,
      rgb(209, 14, 209) 10.9%,
      rgb(16, 163, 218) 88.221%
    );
  }
}
.main-plus {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}
.main-plus h3 {
  font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
  font-weight: 400;
}
.main-plus h3 span {
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
}
.main-img img {
  width: 100%;
  max-width: clamp(14.375rem, 16.193rem + 15.91vw, 28.125rem);
}
#what {
  padding-block: 40px;
}
.what {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.what img {
  width: 100%;
  max-width: 360px;
}
.what h1 {
  width: 100%;
  max-width: 430px;
  font-size: clamp(2rem, 1.818rem + 0.91vw, 2.3rem);
  font-weight: 600;
}
.what-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.what-content h1 span {
  background: linear-gradient(97.16deg, #f86cf8 12.04%, #64cef5 81.84%);
}
.what-content p {
  width: 100%;
  max-width: 470px;
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
  font-weight: 400;
  padding-bottom: 15px;
}
.what-content button {
  width: 100%;
  max-width: clamp(7.5rem, 6.818rem + 3.41vw, 9.375rem);
  padding: 10px;
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
  border-radius: 6px;
}
#how {
  padding-block: 40px;
}
.how-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-bottom: 45px;
}
.how-content h1 {
  width: 100%;
  max-width: 590px;
  font-size: clamp(2rem, 1.818rem + 0.91vw, 2.3rem);
  font-weight: 600;
}
.how-content h1 span {
  background: linear-gradient(97.16deg, #f86cf8 12.04%, #64cef5 81.84%);
}
.how-content p {
  width: 100%;
  max-width: 580px;
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
  font-weight: 400;
}
.how {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.how-background {
  width: 100%;
  max-width: 360px;
  height: 420px;
  background-color: #090823;
  padding: 15px 15px;
  border-radius: 0px 30px 0px 0px;
}
.how-cart img {
  width: 100%;
  max-width: 350px;
}
.how-cart {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.how-cart h2 {
  width: 100%;
  font-size: clamp(1.188rem, 1.142rem + 0.23vw, 1.313rem);
  font-weight: 500;
}
.how-cart p {
  width: 100%;
  font-size: clamp(0.688rem, 0.619rem + 0.34vw, 0.875rem);
  font-weight: 400;
  padding-bottom: 10px;
}
.how-top {
  display: flex;
  gap: 10px;
}
.how-cart button:nth-child(1) {
  width: 100%;
  max-width: 100px;
  padding: 8px;
  border-radius: 6px;
  font-weight: 400;
  color: white;
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
}
.how-cart button:nth-child(2) {
  display: inline-block;
  padding: 8px 18px;
  font-size: 15px;
  font-weight: 400;
  color: white;
  text-align: center;
  text-transform: none;
  border-radius: 8px;
  position: relative;
  background-color: black;
  cursor: pointer;
  transition: 0.3s;
  span {
    position: relative;
    z-index: 1;
  }
  /* // Градиентная рамка */
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    padding: 2px;
    /* // Толщина градиента */
    background: linear-gradient(90deg, #ff0080, #0078ff);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  /* // Hover эффект */
  &:hover {
    background: linear-gradient(90deg, #ff0080, #0078ff);
    color: black;
    &:before {
      background: linear-gradient(90deg, black, black);
    }
    border-radius: 5px;

    /* 3 */
    background: linear-gradient(
      158.4deg,
      rgb(209, 14, 209) 10.9%,
      rgb(16, 163, 218) 88.221%
    );
  }
}
#our {
  padding-block: 60px;
}
.our {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
}
.our h1 {
  width: 100%;
  max-width: 400px;
  font-size: clamp(2rem, 1.818rem + 0.91vw, 2.3rem);
  font-weight: 600;
}
.our h1 span {
  background: linear-gradient(97.16deg, #f86cf8 12.04%, #64cef5 81.84%);
}
.our p {
  width: 100%;
  max-width: 550px;
  font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
  font-weight: 400;
  padding-bottom: 30px;
}
.our-img {
  display: flex;
  gap: 10px;
}
.our-img img {
  width: 100%;
  max-width: 1000px;
}
.our-cart {
  position: absolute;
}
.our-cart img {
  position: absolute;
  top: -336px;
  left: 441px;
}
.our-cart h3 {
  width: 100%;
  max-width: 550px;
  font-size: clamp(1.375rem, 1.818rem + 0.91vw, 2.3rem);
  font-weight: 600;
  position: absolute;
  top: -85px;
  left: 37px;
}
.our-cart h1 {
  width: 100%;
  max-width: 550px;
  font-size: clamp(1.375rem, 1.818rem + 0.91vw, 2.3rem);
  font-weight: 600;
  position: absolute;
  top: -87px;
  left: 274px;
}
.our-cart h2 {
  width: 100%;
  max-width: 500px;
  font-size: clamp(1.375rem, 1.818rem + 0.91vw, 2.3rem);
  font-weight: 600;
  position: absolute;
  top: -87px;
  left: 446px;
}
#footer {
  padding-block: 60px;
  background: #090823;
}
.footer {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
nav {
  display: flex;
  gap: 100px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-content h1 {
  width: 100%;
  max-width: 150px;
  font-size: clamp(2rem, 1.864rem + 0.68vw, 2.375rem);
  font-weight: 600;
  background: linear-gradient(97.16deg, #f86cf8 12.04%, #64cef5 81.84%);
}
.footer-content p {
  width: 100%;
  max-width: 400px;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  font-weight: 400;
}
.footer-cart {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-cart h3 {
  width: 100%;
  font-size: clamp(1.125rem, 1.08rem + 0.23vw, 1.25rem);
  font-weight: 600;
}
.footer-cart a {
}
.footer-year {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-year h3 {
  width: 100%;
  font-size: clamp(1.125rem, 1.08rem + 0.23vw, 1.25rem);
  font-weight: 600;
}
.footer-year p {
  width: 100%;
  max-width: 400px;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  font-weight: 400;
}
.footer-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-main h3 {
  width: 100%;
  font-size: clamp(1.125rem, 1.08rem + 0.23vw, 1.25rem);
  font-weight: 600;
}
.footer-main img {
  width: 100%;
  max-width: 200px;
}
.footer-main p {
  width: 100%;
  max-width: 220px;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  font-weight: 400;
}
